/* Resetting the defaults of the browser. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors. */
    --primary-color-background: aliceblue;
}

body {
    background-color: var(--primary-color-background);
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 100px auto;
    box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.cell {
    border: 1px solid black;
}